.musicIcon {
  background-image: url(https://img.icons8.com/color/48/000000/music--v1.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 13px 13px;
  width: 15px;
  height: 15px;
  padding-right: 15px;
}
